.hero {
  &-container {
    .hero-main {
      padding-top: 10vh;
      min-height: calc(70vh - 56px);
      flex: 1;
      h1 {
        font-size: 76px;
        color: #4d3467;
      }
      p {
        text-transform: uppercase;
        letter-spacing: 3px;
        color: #4d3467;
      }
      .logo-container {
        width: max-content;
        max-width: 100%;
        margin: 0 auto;
      }
      .hero-btns {
        max-width: 400px;
        margin: 0 auto;
        & > button,
        & > a {
          flex: 1;
        }
      }
    }
    .hero-cakes {
      // margin-top: -10%;
      transform: translateY(-45%);
      .hero-cake_img {
        max-width: 270px;
      }
      // @media screen and (max-width: 768px) {
      // }
    }
  }
}
