.about-cta {
  &-img {
    width: max-content;
    margin-left: 20%;
  }
  .base-button {
    max-width: max-content;
  }
  @media screen and (max-width: 768px) {
    &-img {
      margin-left: 0;
      width: auto;
      margin-top: 40px;
    }
    &__col {
      width: 100% !important;
    }
  }
}
