.info-container {
  .info {
    flex-wrap: wrap;
    &-item {
      flex: 1;
    }
    &-bg {
      background-color: var(--primary);
      width: 150px;
      height: 150px;
      border-radius: 50%;
      img {
        width: max-content;
      }
    }
    @media screen and (max-width: 768px) {
      flex-direction: column;
    }
  }
}
